body {
  font-family: Arial, sans-serif;
}

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  background-color: #555;
}

/* Landing page styles */
#landing-page {
  background-color: #eee;
}

/* About page styles */
#about-page {
  background-color: #fff;
}

/* Portfolio page styles */
#portfolio-page {
  background-color: #eee;
}

.project {
  border: solid #ccc;
  padding: 20px;
}
